@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-red-500 {
    border-color: #f56565;
  }
}

body {
  background-color: #f0eccf;
  margin-top: 2%;
  min-height: 900px;
}
.active {
  color: #ffd98f;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255,255,255,0.8); /* white color with 80% opacity */
}
